body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-items {
  display: flex;
}
.nav-item {
  padding: 0 20px;
  color: #3e4794;
}
.signin-btn {
  border: transparent;
  border-radius: 19px;
  color: #fff;
  background: linear-gradient(to right, #965cf2, #ff8adc);
  padding: 9px 30px;
  height: 30px;
}

.intro-section {
  display: flex;
}
.left-section > h1 {
  color: #3e4794;
  margin-left: 142px;
  font-size: 60px;
}

.left-section > h4 {
  color: #3e4794;
  margin-left: 142px;
  font-size: 17px;
  font-weight: 500;
}

.learn-more-btn {
  border: transparent;
  border-radius: 19px;
  background: linear-gradient(to right, #965cf2, #ff8adc);
  padding: 9px 30px;
  color: #fff;
  margin-left: 142px;
}
.main-div {
  background: url("/images/backcover.svg");
  background-repeat: no-repeat;
  background-position: top right;
}

.vector-img {
  position: absolute;
  bottom: 0;
}

.vector-dot {
  position: absolute;
  bottom: 80px;
  left: 50px;
}

.imgs-div {
  position: relative;
}

/* #965CF2 -purple
#FF8ADC -pink */
